#RERUM API access keys
access_token=token
refresh_token=short-token

# API URLS (for RERUM instance)
RERUM_REGISTRATION_URL = https://store.rerum.io/v1/
RERUM_API_ADDR = ${RERUM_REGISTRATION_URL}api
RERUM_ID_PATTERN = //store.rerum.io/v1/id
RERUM_ACCESS_TOKEN_URL = ${RERUM_API_ADDR}accessToken
RERUM_REFRESH_TOKEN_URL = ${RERUM_API_ADDR}refreshToken

#Make this value true if you plan to use this as a public API.
open_api_cors = false
